nav.navbar.navbar-default(role='navigation')
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='#') Posdata
    ul.nav.navbar-nav
      li(ng-class='getSectionClass("home")')
        a(href='#/home') Inicio
      li(ng-class='getSectionClass("posts")')
        a(href='#/posts') Publicaciones
      li(ng-class='getSectionClass("media")')
        a(href='#/media') Imagenes
    form.navbar-form.navbar-right
      div.form-group
        button.btn.btn-default(ng-click='logout()')
          span.glyphicon.glyphicon-user
div.container
  div(ui-view='')
