div.form-group
  input.form-control(type='text', value='', placeholder='Título impresionante...', ng-model='title')
div.form-group
  textarea.form-control(rows='2', ng-model='summary', placeholder='Extracto...')
div.form-group
  div.btn-group(role='group')
    button.btn.btn-default(type='button', aria-hidden='true', ng-click='insertMedia()')
      span.glyphicon.glyphicon-picture
    button.btn.btn-default(type='button', aria-hidden='true')
      span.glyphicon.glyphicon-link
    button.btn.btn-default(type='button', aria-hidden='true', ng-click='seePreview()')
      span.glyphicon.glyphicon-play
    button.btn.btn-default(type='button', aria-hidden='true')
      span.glyphicon.glyphicon-info-sign
div.form-group
  textarea.form-control(rows="20", ng-model='content', placeholder='Escribe aquí tus ideas...', eb-caret='caret')
div.form-group
  input.form-control(type='text', value='', placeholder='tags', ng-model='tags')
div.row
  div.col.col-sm-2
    div.form-group
      select.form-control
        option(value='es') Español
        option(value='en') Inglés
  div.col.col-sm-2
    div.form-group
      select.form-control(ng-model='status')
        option(value='draft') Borrador
        option(value='publish') Publicado
  div.col.col-sm-1
    div.form-group
      button.btn.btn-success.form-control(ng-click='save()', ng-disabled='disabled()') Guardar
