div.panel-heading
  p New post
div.panel-body
  div.form-group
    input.form-control(type='text', placeholder='Awesome title', ng-model='title')
  div.form-group
    textarea.form-control(rows='2', placeholder='Summary...', ng-model='summary')
div.panel-footer
  button.btn(ng-click='create()', ng-disabled='disabled()') Create
