doctype html
html
  head
    title= title
    link(rel="icon", type="image/png", href="/images/favicon.png?version=0")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ladda-themeless.min.css')
    link(rel='stylesheet', href='/stylesheets/posdata.css')
  body
    div(ng-app='admin')
      div(ui-view='')
    script(src='/javascripts/vendor/marked.min.js')
    script(src='/javascripts/vendor/spin.min.js')
    script(src='/javascripts/vendor/ladda.min.js')
    script(src='/javascripts/vendor/angular.min.js')
    script(src='/javascripts/vendor/angular-sanitize.min.js')
    script(src='/javascripts/vendor/angular-ui-router.min.js')
    script(src='/javascripts/vendor/ui-bootstrap-tpls-1.3.1.min.js')
    script(src='/javascripts/vendor/angular-ladda.min.js')
    script(src='/javascripts/directives/fileread.js')
    script(src='/javascripts/directives/caret.js')
    script(src='/javascripts/load.js')
    script(src='/javascripts/services/APIService.js')
    script(src='/javascripts/services/SectionService.js')
    script(src='/javascripts/services/SessionService.js')
    script(src='/javascripts/services/StorageService.js')
    script(src='/javascripts/controllers/EditPostController.js')
    script(src='/javascripts/controllers/HomeController.js')
    script(src='/javascripts/controllers/LoginController.js')
    script(src='/javascripts/controllers/MainController.js')
    script(src='/javascripts/controllers/MediaModalController.js')
    script(src='/javascripts/controllers/MediaController.js')
    script(src='/javascripts/controllers/NewPostController.js')
    script(src='/javascripts/controllers/PostsController.js')
    script(src='/javascripts/controllers/PreviewModalController.js')
    script(src='/javascripts/controllers/UploadMediaController.js')
    script(src='/javascripts/admin.js')
