doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/posdata.css')
  body
    div.jumbotron
      div.container
        h1 Posdata
    div.container
      h2 Bienvenido a posdata
      div.row
        div.col.col-md-4
          a.thumbnail(href='/content')
            div.caption
              h3 Blog
              p Buenas nuevas
